# pandas
# textblob
# spacy
# nltk
# gensim
# scikit-learn
# torchtext
# python -m spacy download de_core_news_sm
# python -m spacy download en_web_news_sm
transformers
sentence-transformers
langchain
langchain-community
tiktoken
langchain-openai
langchainhub
chromadb
langchain
llama-index
langchain_groq
langchain_core
dotenv
bs4
faiss-cpu
langchain_huggingface
langchain_google_genai
langchain_openai
langchain_anthropic
rapidocr-onnxruntime
weaviate-client #Current version==4.16.1
pypdf
unstructured[pdf]